html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

button, a, input{
    font-family: sans-serif!important;
    vertical-align: middle!important;
}

.flex {
    display: flex;
}

.inline {
    display: inline-block;
}

.show {
    display: '';
}

.hide {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.px-4 {
    padding: 4px;
}

.px-8 {
    padding: 8px;
}

.px-16 {
    padding: 16px;
}

.m0 {
    margin: 0;
}

.mx-4 {
    margin: 4px;
}

.mx-8 {
    margin: 8px;
}

.mx-16 {
    margin: 16px;
}

.small {
    font-size: 12pt
}

.medium {
    font-size: 16pt
}

.large {
    font-size: 40pt
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 700;
    font-family: Tahoma!important;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.top {
    vertical-align: top;
}

.middle {
    vertical-align: middle;
}

.bottom {
    vertical-align: bottom;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent!important;
}

ul,
ol {
    list-style-type: none;
}

.ctr {
    margin: 32px auto;
    padding: 0em 4em;
}

.violet {
    color: #4903e2 !important;
    
}

.d-violet {
    color: #f3172e !important;
    color: #16044f !important;
}

.bg-violet {
   background-color: #4903e2 !important;
}

.bg-d-violet {
    background-color: #16044f !important;
}

.red {
    color: #ee1553 !important;
}

.bg-red {
    background-color: #ee1553 !important;
}

.orange {
    color: #f3172e !important;
    /* color: #ff7100 !important; */
}

.bg-orange {
    background-color: #ff7100 !important;
}

.blue {
    color: #00aaf3 !important;
}

.bg-blue {
    background-color: #00aaf3 !important;
}

.green {
    color: #29e943 !important;
}

.bg-green {
    background-color: #29e943 !important;
}

.dark {
    color: #101011 !important;
}

.bg-dark {
    background-color: #101011 !important;
}

.white {
    color: #ffffff !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.gray {
    color: #505050 !important;
}

.bg-gray {
    background-color: #505050 !important;
}

.bg-sdark {
    background-color: #222122 !important;
}

.wheat {
    color: #c5c5c5 !important;
}

.bg-wheat {
    background-color: #c5c5c5 !important;
}

.bg-light {
    background-color: #ebebeb !important;
}

.bg-trans {
    background: transparent !important;
}

.nav {
    overflow: hidden;
    font-size: 12pt !important;
}

.nav a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 500 !important;
}

.grayscale{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
.round-img.grayscale:hover{
    filter: grayscale(0)!important;
    -webkit-filter: grayscale(0)!important;
}

.sideview{
    z-index: -1;
    top: -700px;
    transition: top 500ms;
    height:400px;
    overflow: auto;
}
.anim-side{
    top: 0;
}

.shadow {
    box-shadow: 0px 1px 8px lightgray;
}

.rds {
    border-radius: 2em;
}

.content {
    padding: 3em 4em;
}

.btn {
    transition: 0.3s background-color;
    text-decoration: none;
    color: #f0f0f0;
    background-color: #202020;
    border: none;
    border-radius: 2em;
    font-weight: 700;
    padding: 0.7em 1.5em 0.7em 1.5em;
    margin: 1em 0.5em;
    transition: opacity 200ms;
}

.btn:hover {
    opacity: 80%;
}

.shahover:hover {
    box-shadow: 0px 1px 8px #b6b6b6;
}

.hover:hover {
    opacity: 80%;
}

.border-l {
    border: 1px solid #e4e4e4 !important;
}

.border-d {
    border: 1px solid #808080 !important;
}

.list-round {
    justify-content: center;
    display: block;
}

.round-img {
    display: inline-block;
    margin: 0.5em;
    border-radius: 36em;
    width: 7em;
    height: 7em;
    background-color: #e9e9e9;
    transition: transform 200ms;
}
.round-img:hover {
    transform: scale(1.2) rotate(12deg);
}

.carbon{
    transition: transform 200ms;
    position: relative;
}
.carbon:hover{
    transform: scale(1.1)!important;
    filter: brightness(150%);
}
.bottom-link{
    padding:0.2em 0.5em 0.2em 0.5em!important;
    margin:0em!important;
}

.letsgoo{
    background-color:transparent!important;
}

* {
    transition: color,background-color 200ms;
}
